<!DOCTYPE html>
<html>
<head>
  <title>{{ page_title }}</title>
</head>
<body>
  <h1>{{ welcome_message }}</h1>
  <p>This page was deployed using Ansible and AWX.</p>
  <p><em>Managed by: {{ your_name }}</em></p>
</body>
</html>
